@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    display: grid;
    grid-gap: 20px;
    
    }
.container{
    display: grid;
    grid-gap: 20px;
    padding-top: 20px;
    width: 100%;
    position: relative;
    padding-left: clamp(10px,10dvw,200px);
    padding-right: clamp(10px,10dvw,200px);
    }
header{ 
    position: sticky;
    top: 15px;
    padding-left: clamp(10px,10dvw,200px);
    padding-right: clamp(10px,10dvw,200px);
    z-index: 1000;
    }
.navbar{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: rgb(45, 43, 43);
    backdrop-filter: blur(50px);
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(15px); 
    border-radius: 15px; 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    padding: 10px;
    color: white;
    height: clamp(45px,10dvh,150px);
    gap: 30px;
    }
.menu{
    display: none;
    }
.menu.show{
    transform: translateY(200px);
    background-color: rgb(45, 43, 43);
    backdrop-filter: blur(50px);
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(15px); 
    border-radius: 15px; 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    padding: 10px;
    position: fixed;
    top: 143px;
    z-index: 900;
    padding-left: clamp(10px,7dvw,120px);
    padding-right: clamp(10px,7dvw,120px);
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 77%;
    height: 50dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-self: center;
    gap: 15px;
    text-align: start;
    animation: fade-in .5s  ease forwards;
    }

.menu > a > button{
    background: none;
    border: none;
    color: #cfc9c9;
    font-size:clamp(.5rem,3dvh,1.5rem);
    cursor: pointer;
    padding: 10px;
    width: fit-content;
}
.menu > a > button:hover{
    color: #FF8833;
}
.logo-nav{
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    color: white;
    height: 80%;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    height: 80%;
    width: clamp(50px,10dvw,90px);
    gap: 5px;
}   
.logo > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.logo > h1{
    font-size: clamp(1rem,3dvh,3rem);
}
.hamburger {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}
.hamburger .line{
    background-color: white;
    height: clamp(1px,1dvh,3px);
    width: clamp(24px,2dvw,30pc);
}
.hamburger.active{
    animation: rotation .5s ease forwards;
}
.hamburger.active .top{
    animation: topline .5s  ease forwards;
}
.hamburger.active .mid{
    animation: midline  ease forwards;
}
.hamburger.active .bot{
    animation: bottomline .5s  ease forwards;
}
.about{
        background-color: rgb(45, 43, 43);
        backdrop-filter: blur(50px);
        background: rgba(255, 255, 255, 0.05); 
        backdrop-filter: blur(10px); 
        -webkit-backdrop-filter: blur(15px); 
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.2); 
        padding: 10px;
        text-align: center;
        color: white;
        position: relative;
        z-index: 1;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.info > img{
    object-fit:cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.info > h1{
    display: flex;
    justify-self: flex-start;
    font-weight: 400;
    font-size: 26px;
}
.info > h4{
    text-align: left;
    color: #cfc9c9;
    font-weight: 300;
    letter-spacing: 1px;
}
.info > a > button{
    width: 100%;
    height: 55px;
    backdrop-filter: blur(50px);
    background: #5b3b2539; 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(15px); 
    border-radius: 10px; 
    border: 1px solid #784c2c4d; 
    color: #FF8833;
    font-size: larger;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}
.info > a > button:hover{
    box-shadow: 1px 1px 10px #FF8833 ;
    
}
.skills{
    background-color: rgb(45, 43, 43);
    backdrop-filter: blur(50px);
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(15px); 
    border-radius: 15px; 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    padding: 20px;
    text-align: center;
    color: white;
    display: grid;
    grid-gap: 20px;
}
.skills > h1{
    display: flex;
    justify-self: flex-start;
    font-weight: 400;
    font-size: clamp(1em,10vw,2em);
}
.icons{
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows:1fr 1fr 1fr ;
    width: fit-content;
    grid-gap: 10px;
}
.icon{
    background-color: rgb(45, 43, 43);
    backdrop-filter: blur(50px);
    background: rgba(255, 255, 255, 0); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(15px); 
    border-radius: 10px; 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    padding: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    transition: box-shadow .2s ease-in-out;
}
.icon:hover{
    box-shadow: .1px .2px 8px #ffffff81; 
    background: #ffffff0d;
}

.figma{
    width: 20%;
    filter: grayscale(100%);
    transition: filter 0.1s ease-in-out;

}
.icon:hover .figma{
    filter: grayscale(0%);
    cursor: pointer;
}
.figma > img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.description{
    background-color: rgb(45, 43, 43);
    backdrop-filter: blur(50px);
    background: rgba(255, 255, 255, 0); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(15px); 
    border-radius: 10px; 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    padding: 20px;  
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.description > h3{
    text-align: left;
    color: #cfc9c9;
    font-weight: 300;
    letter-spacing: 1px;
}
.slider{
    display: flex;
    justify-self: center;
    width:250px;
    overflow: hidden;
    white-space: nowrap;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, black 25%, black 75%, rgba(0, 0, 0, 0) 95%);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, black 25%, black 75%, rgba(0, 0, 0, 0) 95%);

}
.slider-track{
    display: flex;
    align-items: center;
    gap: 20px;
    animation: scroll 30s linear infinite;
    width: max-content;
    }

.title{
    display: flex;
    align-items: center;
    justify-items:center ;
    gap: 15px;
}
.circle{
    width: 15px;  
    height: 15px;
    border: 3px solid rgba(255, 255, 255, 0.2);
    background-color: black;
    border-radius: 50%;
}
.title > h4{
    font-size: larger;
    display: flex;
    text-align: center;
    text-wrap: nowrap;  
}
.testimonials-wrapper{
    background-color: rgb(45, 43, 43);
    backdrop-filter: blur(50px);
    background: rgba(255, 255, 255, 0); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(15px); 
    border-radius: 10px; 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    padding: 20px;
    display: flex;
    width: 100%;
}
.test-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.test-content > p{
    text-align: left;
    color: #aca5a5;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
}
.client-info{
    display: flex;
    text-wrap: nowrap;
    gap: 20px;
}
.client-name{
    display: flex;
    text-wrap: nowrap;
    flex-direction: column;
    gap: 10px;
}
.client-name > h5 {
    color: #FF8833;
}
.client-img{
    height: 50px;
    width: 50px;
}
.client-img > img{
    clip-path: circle(50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.projects-wrapper{
    background-color: rgb(45, 43, 43);
    backdrop-filter: blur(50px);
    background: rgba(255, 255, 255, 0); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(15px); 
    border-radius: 10px; 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    padding: 20px;
}
.projects-wrapper > h1{
    display: flex;
    justify-self: flex-start;
    font-weight: 500;
    font-size: clamp(1em,10vw,2em);
}
.projects-info{
    padding-top: 20px;
}
.projects-info > h4 {
    text-align: left;
    color: #cfc9c9;
    font-weight: 300;
    letter-spacing: 1px;
}
.projects-info a{
    text-decoration: none;
    color: #FF8833;
}
.connect{
    background-color: rgb(45, 43, 43);
    backdrop-filter: blur(50px);
    background: rgba(255, 255, 255, 0); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(15px); 
    border-radius: 10px; 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 25px;
}
.connect > h2{
    font-weight: 400;
    font-size: x-large;
}
.connect a{
    text-decoration: none;
    color: #FF8833;
}
.connect .button{
    color: #FF8833;
    font-weight: 400;
}
.connect:hover{
    background:rgba(255, 255, 255, 0.06) ;
    box-shadow: .1px .2px 10px #ffffff81;
    cursor: pointer;
}

.social{
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
}
.social-icon{
    background-color: rgb(45, 43, 43);
    backdrop-filter: blur(50px);
    background: rgba(255, 255, 255, 0); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(15px); 
    border-radius: 10px; 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: clamp(10px,(100vw - 380px) * 0.5,30px );
    cursor: pointer;
    gap: 100px;
    height: 100px;
    overflow: hidden;
}
.social-icon:hover{
    background:rgba(255, 255, 255, 0.06) ;
    box-shadow: .1px .2px 10px #ffffff81;
}
.social-icon a{
    align-items: center;
    text-decoration: none;
    color: #aca5a5;
}
.social-icon > h3 {
    color: #aca5a5;
    font-weight:300;
    transform: translateY(65px);
    transition:  transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    align-self: center;
}


.social-icon:hover > h3{
    transform: translateY(-100px);
}
.social-icon-image{
    transform:translateY(100px);
    height: 30px;
    width: 30px;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.social-icon:hover .social-icon-image{
    transform: translateY(-60px);
    align-self: center;
}
.social-icon-image > img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
footer{
    padding-left: clamp(10px,(100vw - 380px) * 0.5,220px );
    padding-right: clamp(10px,(100vw - 380px) * 0.5,220px );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
}
footer p{
    color: #aca5a5;
}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.footer-logo-img{
    height: 25px;
    width: 25px;
}
.footer-logo-img > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.footer-logo > h3 {
    font-weight: 200px;
    color: #cfc9c9;
}

@keyframes scroll {
from {
    transform: translateX(0);
    }
to {
    transform: translateX(-50%);
    }
}
@keyframes fade-in {
0%{
    transform: translateY(-200px);
    }
100%{
    transform: translateY(0);
    }
}
@keyframes topline {
0%{
    transform: none;
    }
100%{
    transform: translateY(11px) rotate(45deg);
    }
}
@keyframes midline {
0%{
    scale: 1;
    }
100%{
    scale: 0;
    }
}
@keyframes rotation {
    0%{
    transform: none;
    }
    100%{
    transform: rotate(90deg);
    }
}
@keyframes bottomline {
0%{
    transform: none;
    }
100%{
    transform: translateY(-11px) rotate(-45deg);
    }
}

@media screen and (min-width:768px) {
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:100px;
    }
.about{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    }
.slider{
    width: 400px;
}
    .skills{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    }
.description{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    }
.testimonials-wrapper{
    grid-column:1 / 3 ;
    }
.social{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column:1 / 3 ;
    }
}
@media screen and (min-width:1024px){
.container{
    display: grid;
    grid-gap: 30px;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows:30%;
    }
.about{
    grid-column: 1 / 2;
    grid-template-rows: 1 / 3 ;
    }
.logo{
    width: 10%;
    height: 100%;
    }
.slider{
    width: 50dvw;
}
    .skills{
    grid-column: 2 / 4;
    grid-row:1 / 2;
    }
.icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
.description{
    grid-column:2 / 4;
    grid-row:2 / 4;
    grid-gap:40px ;
    }
.connect{
    grid-column: 1 / 4;
    width: 70%;
    justify-self: center;
    }
.social{
    grid-column: 1 / 4;
    }
}
